# top-most EditorConfig file
root = true

# settings that apply to all text files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,jsx,json,ts,tsx,vue,css,scss,mustache,html}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[Dockerfile]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
